edit-animal {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
  label {
    display: block;
    text-transform: capitalize;
    font-size: 18px;
  }

  input {
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;

    &:focus {
      outline: 1px solid seagreen;
    }
  }

  button {
    margin-top: 21px;
    font-size: 18px;
    padding: 6px;
    width: 100%;
    background: seagreen;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color .3s, background .3s, border .3s;

    &:hover {
      color: seagreen;
      background: white;
      border: 1px solid seagreen;
    }
  }

  .column {
    width: 50%;
    padding: 10px;
    &.one {
      float: left;
    }
    &.two {
      float: right;
    }
  }
}
