header {
  height: 120px;
  background-color: seagreen;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-size: 50px;
    position: relative;

    &:before {
      width: 80px;
      height: 80px;
      position: absolute;
      top: -20px;
      left: -70px;
      background-image: url('/resources/img/logo.png');
      background-size: 100%;
      content: '';
      display: block;
    }
  }

  nav {
    ul {
      list-style-type: none;

      li {
        display: inline-block;
        margin-left: 30px;

        a {
          color: white;
          text-decoration: none;
          font-size: 22px;
        }
      }
    }
  }
}
